
<div style="text-align:center;"> <h2> PRODUCTS PURCHASED </h2> </div>
<table>
  <tr>
    <th>Date</th>
    <th>Purchase ID</th>
    <th>Product</th>
	<th>Cost</th>
	<th>Amount Paid</th>
	<th>Amount Remaining</th>
	<th>Next Payment</th>
	<th>EMI</th>
  </tr>
  <tr>
	<td>19-09-2020</td>
	<td>345</td>
    <td>Laptop</td>
    <td>20000</td>
	<td>0</td>
	<td>20000</td>
	<td>October</td>
	<td>6666.66</td>
  </tr>
    <tr>
	<td>06-06-2020</td>
	<td>546</td>
    <td>Iphone 11</td>
    <td>60000</td>
	<td>40000</td>
	<td>20000</td>
	<td>October</td>
	<td>20000</td>
  </tr>
     <tr>
	<td>12-12-2019</td>
	<td>435</td>
    <td>Ring</td>
    <td>22000</td>
	<td>22000</td>
	<td>0</td>
	<td>Paid</td>
	<td>3666.67</td>
  </tr>
