<!DOCTYPE html>
  <html>
  <body>
 
    <form class="modal-content" action="#" form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="imgcontainer">
        <img src="assets/images/login_avtar.jpg" alt="Avatar" class="avatar" >
      </div>
      <div class="container">
        <div class="form-group">
       <label for="text"><b>Name</b></label>
       
        <input type="text" placeholder="Enter Full Name" name="name" formControlName="name" >
        <p *ngIf = "registrationForm.controls.name.errors && (registrationForm.controls.name.touched ||registrationForm.controls.name.dirty)">Name is required</p>
        </div>
        <div class="form-group">
       <label for="phone"><b>Phone Number</b></label>
         <input type="tel" id="phone" name="phone" placeholder="+91-XXXXXXXXXX" formControlName="phone">
         <p *ngIf = "registrationForm.controls.phone.errors && (registrationForm.controls.phone.touched ||registrationForm.controls.phone.dirty)">Phone number is required</p>
      </div>
      <div class="form-group">
        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="Enter Email" name="email" formControlName="email">
        <p *ngIf = "registrationForm.controls.email.errors && (registrationForm.controls.email.touched ||registrationForm.controls.email.dirty)">Email is required</p>
      </div>

      <div class="form-group">
      <label for="text"><b>Username</b></label>
        <input type="text" placeholder="Username" name="uname" formControlName="uname">
        <p *ngIf = "registrationForm.controls.uname.errors && (registrationForm.controls.uname.touched ||registrationForm.controls.uname.dirty)">Username  is required</p>
      </div>

      <div class="form-group">
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" formControlName="psw">
        <p *ngIf = "registrationForm.controls.psw.errors && (registrationForm.controls.psw.touched ||registrationForm.controls.psw.dirty)">Password of minimum is required</p>
      </div>

       <div class="form-group">
        <label for="psw-repeat"><b>Confirm Password</b></label>
        <input type="password" placeholder="Confirm Password" name="confirmPassword" formControlName="confirmPassword">
        <p *ngIf = "registrationForm.controls.confirmPassword.errors && (registrationForm.controls.confirmPassword.touched ||registrationForm.controls.confirmPassword.dirty)">Confirm Password is required</p>
      </div>

      <div class="form-group">
       <label for="date"><b>Date of Birth</b></label>
        <input type="date" id="birthday" placeholder="Date of Birth" name="birthday"  formControlName="birthday" >
        <p *ngIf = "registrationForm.controls.birthday.errors && (registrationForm.controls.birthday.touched ||registrationForm.controls.birthday.dirty)">Confirm Password is required</p>
      </div>
      
      <div class="form-group">
      <label for="address"><b>Address</b></label>
        <textarea type="address" placeholder="Complete Address" name="address" rows="3" cols="30" formControlName="address" ></textarea>
        <p *ngIf = "registrationForm.controls.address.errors && (registrationForm.controls.address.touched ||registrationForm.controls.address.dirty)">Address is required</p>
      </div>
       
       
      <label  for="bank"><b>Bank</b></label>
        <select type="bank" name="bank" id="bank">
        
      <option value="Allahabad Bank">Allahabad Bank</option>
      <option value="Andhra Bank">Andhra Bank</option>
      <option value="Axis Bank">Axis Bank</option>
      <option value="Bank of Bahrain and Kuwait">Bank of Bahrain and Kuwait</option>
      <option value="Bank of Baroda - Corporate Banking">Bank of Baroda - Corporate Banking</option>
      <option value="Bank of Baroda - Retail Banking">Bank of Baroda - Retail Banking</option>
      <option value="Bank of India">Bank of India</option>
      <option value="Bank of Maharashtra">Bank of Maharashtra</option>
      <option value="Canara Bank">Canara Bank</option>
      <option value="Central Bank Of India">Central Bank Of India</option>
      <option value="City Union Bank">City Union Bank</option>
      <option value="Corporation Bank">Corporation Bank</option>
      <option value="Deustche Bank">Deustche Bank</option>
      <option value="Development Credit Bank">Development Credit Bank</option>
      <option value="Dhanlaxmi Bank">Dhanlaxmi Bank</option>
      <option value="Federal Bank">Federal Bank</option>
      <option value="ICICI Bank">ICICI Bank</option>
      <option value="IDBI Bank">IDBI Bank</option>
      <option value="Indian Bank">Indian Bank</option>
      <option value="Indina Overseas Bank">Indina Overseas Bank</option>
      <option value="IndusInd Bank">IndusInd Bank</option>
      <option value="ING Vysya Bank">ING Vysya Bank</option>
    <option value="Jammu & Kashmir Bank">Jammu & Kashmir Bank</option>
    <option value="Karnatak Bank Ltd">Karnatak Bank Ltd</option>
    <option value="Kotak Bank">Kotak Bank</option>
    <option value="Laxmi Vilas Bank">Laxmi Vilas Bank</option>
    <option value="Oriental Bank of Commerce">Oriental Bank of Commerce</option>
    <option value="Punjab National Bank - Corporate Banking">Punjab National Bank - Corporate Banking</option>
    <option value="Punjab National Bank - Retail Banking">Punjab National Bank - Retail Banking</option>
    <option value="Punjab & Sind Bank">Punjab & Sind Bank</option>
    <option value="Shamrao Vitthal Cooperative Bank">Shamrao Vitthal Cooperative Bank</option>
    <option value="South Indian Bank">South Indian Bank</option>	
    <option value="State Bank of Bikaner & Jaipur">State Bank of Bikaner & Jaipur</option>
    <option value="State Bank of Hyderabad">State Bank of Hyderabad</option>
    <option value="State Bank of India">State Bank of India</option>
    <option value="State Bank of Mysore">State Bank of Mysore</option>
    <option value="State Bank of Patiala">State Bank of Patiala</option>
    <option value="State Bank of Travancore">State Bank of Travancore</option>
    <option value="Syndicate Bank">Syndicate Bank</option>
    <option value="Tamilnad Mercantile Bank Ltd.">Tamilnad Mercantile Bank Ltd.</option>
    <option value="UCO Bank">UCO Bank</option>
    <option value="Union Bank of India">Union Bank of India</option>
    <option value="United Bank of India">United Bank of India</option>
    <option value="Vijaya Bank">Vijaya Bank</option>
    <option value="Yes Bank Ltd">Yes Bank Ltd</option>
  
  
    </select>
     
      
    <div class="form-group">
       <label for="tel"><b>Account Number</b></label>
         <input type="tel" id="acc_num" name="acc_num" placeholder="XXXXXXXXXXXX" formControlName="acc_num">
         <p *ngIf = "registrationForm.controls.acc_num.errors && (registrationForm.controls.acc_num.touched ||registrationForm.controls.acc_num.dirty)">Account Number of 12 digits is required</p>
      </div>
      <div class="form-group">
       <label for="text"><b>IFSC Code</b></label>
        <input type="text" placeholder="IFSC Code" name="ifsc" formControlName="ifsc">
        <p *ngIf = "registrationForm.controls.ifsc.errors && (registrationForm.controls.ifsc.touched ||registrationForm.controls.ifsc.dirty)">IFSC is required</p>
     </div>
     
       <label for="card"><b>Card Type</b></label >
       <select type="card" name="card" id="card">
         <option value="Titanium">Titanium</option>
         <option value="Gold">Gold</option>
         
         </select>
       
       
       <div class="form-group">
        <label for="tel"><b>Aadhaar Number</b></label><br><br>
        <input type="tel" id="aadhaar" name="aadhaar" placeholder="XXXX-XXXX-XXXX" formControlName="adhar"><br><br>
        <p *ngIf = "registrationForm.controls.adhar.errors && (registrationForm.controls.adhar.touched ||registrationForm.controls.adhar.dirty)">ADHAR NUMBER is required</p>
      </div>
        <label for="file"><b>Aadhaar Upload</b></label>
          <input type="file" id="a_img" name="a_img" accept="image/*" required>
      
      <div class="form-group">
      <label for="text"><b>PAN Number</b></label>
        <input type="text" placeholder="PAN Number" name="pan" formControlName="pan">
        <p *ngIf = "registrationForm.controls.pan.errors && (registrationForm.controls.pan.touched ||registrationForm.controls.pan.dirty)">ADHAR NUMBER is required</p>
      </div>
       <label for="file"><b>PAN Upload</b></label>
         <input type="file" id="p_img" name="p_img" accept="image/*" required>
     
        <label>
          <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
        </label>
  
        <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
  
        <div class="clearfix">
          <button type="button" class="cancelbtn">Cancel</button>
          <button type="submit" class="signupbtn">Register</button>
        </div>
      </div>
    </form>
    
  </body>
  </html>