<html>
<body>
<div id="container">
  
  <div id="header"><br>
    <h3 style="text-align: center;">Change Password</h3><br>
  </div> 
  <div id="form">
    <input type="password" placeholder="New Password" id="passOne"/>
    <input type="password" placeholder="Confirm Password" id="passTwo"/>
  </div>
  <div id="footer" class="incorrect"><br>
    <h3 id="footerText" style="text-align: center;"><button type="submit" value="changepassword" float:center>Change password</button></h3>
  </div>
</div>
</body>
</html>
