<app-navhome></app-navhome> 
    <form class="modal-content" action="#" form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="imgcontainer">
      <img src="https://www.kindpng.com/picc/m/78-786207_user-avatar-png-user-avatar-icon-png-transparent.png" alt="Avatar" class="avatar" style="height: 200px;width:200px">
      </div>
      <div class="container">
        <div class="form-group">
       <label for="text"><b>Name</b></label>
       
        <input type="text" placeholder="Enter Full Name" name="name" id="name" formControlName="name" >
        <p  *ngIf = "registrationForm.controls.name.errors && (registrationForm.controls.name.touched ||registrationForm.controls.name.dirty)">Name is required</p>
        </div>
        <div class="form-group">
       <label for="phoneNo"><b>Phone Number</b></label>
         <input type="tel" id="phoneNo" name="phoneNo" placeholder="XXXXXXXXXX" id="phoneNo" formControlName="phoneNo">
         <p *ngIf = "registrationForm.controls.phoneNo.errors && (registrationForm.controls.phoneNo.touched ||registrationForm.controls.phoneNo.dirty)">Phone number is required</p>
      </div>
      <div class="form-group">
        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="Enter Email" name="email" id="email" formControlName="email">
        <p *ngIf = "registrationForm.controls.email.errors && (registrationForm.controls.email.touched ||registrationForm.controls.email.dirty)">Email is required</p>
      </div>

      <div class="form-group">
      <label for="text"><b>Username</b></label>
        <input type="text" placeholder="Username" name="username" id="username" formControlName="username">
        <p *ngIf = "registrationForm.controls.username.errors && (registrationForm.controls.username.touched ||registrationForm.controls.username.dirty)">Username  is required</p>
      </div>

      <div class="form-group">
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" id="password" formControlName="password">
        <p *ngIf = "registrationForm.controls.password.errors && (registrationForm.controls.password.touched ||registrationForm.controls.password.dirty)">Password of minimum length 8 is required</p>
      </div>

       <div class="form-group">
        <label for="psw-repeat"><b>Confirm Password</b></label>
        <input type="password" placeholder="Confirm Password" name="confirmPassword" formControlName="confirmPassword">
        <!-- <p *ngIf="registrationForm.controls.confirmPassword.errors.this.confirmedValidator">Password and Confirm Password must be match.</p> -->
        <p *ngIf = "registrationForm.controls.confirmPassword.errors && (registrationForm.controls.confirmPassword.touched ||registrationForm.controls.confirmPassword.dirty)">Confirm Password is required</p>
      </div>

      <div class="form-group">
       <label for="dob"><b>Date of Birth</b></label>
        <input type="date" id="dob" placeholder="Date of Birth" max='1999-10-09' min='1900-01-01' name="dob"  formControlName="dob" >
        <p *ngIf = "registrationForm.controls.dob.errors && (registrationForm.controls.dob.touched ||registrationForm.controls.dob.dirty)">Date of Birth is required</p>
      </div>
      
      <div class="form-group">
      <label for="address"><b>Address</b></label>
        <textarea id="address" type="address" placeholder="Complete Address" name="address" rows="3" cols="30" formControlName="address" ></textarea>
        <p *ngIf = "registrationForm.controls.address.errors && (registrationForm.controls.address.touched ||registrationForm.controls.address.dirty)">Address is required</p>
      </div>
       
       
      <label  for="bankName"><b>Bank</b></label>
        <select type="bank" name="bankName" id="bankName" (change)="changeTypeBank($event)">
        
      <option value="Allahabad Bank">Allahabad Bank</option>
      <option value="Andhra Bank">Andhra Bank</option>
      <option value="Axis Bank">Axis Bank</option>
      <option value="Bank of Bahrain and Kuwait">Bank of Bahrain and Kuwait</option>
      <option value="Bank of Baroda - Corporate Banking">Bank of Baroda - Corporate Banking</option>
      <option value="Bank of Baroda - Retail Banking">Bank of Baroda - Retail Banking</option>
      <option value="Bank of India">Bank of India</option>
      <option value="Bank of Maharashtra">Bank of Maharashtra</option>
      <option value="Canara Bank">Canara Bank</option>
      <option value="Central Bank Of India">Central Bank Of India</option>
      <option value="City Union Bank">City Union Bank</option>
      <option value="Corporation Bank">Corporation Bank</option>
      <option value="Deustche Bank">Deustche Bank</option>
      <option value="Development Credit Bank">Development Credit Bank</option>
      <option value="Dhanlaxmi Bank">Dhanlaxmi Bank</option>
      <option value="Federal Bank">Federal Bank</option>
      <option value="ICICI Bank">ICICI Bank</option>
      <option value="IDBI Bank">IDBI Bank</option>
      <option value="Indian Bank">Indian Bank</option>
      <option value="Indina Overseas Bank">Indina Overseas Bank</option>
      <option value="IndusInd Bank">IndusInd Bank</option>
      <option value="ING Vysya Bank">ING Vysya Bank</option>
    <option value="Jammu & Kashmir Bank">Jammu & Kashmir Bank</option>
    <option value="Karnatak Bank Ltd">Karnatak Bank Ltd</option>
    <option value="Kotak Bank">Kotak Bank</option>
    <option value="Laxmi Vilas Bank">Laxmi Vilas Bank</option>
    <option value="Oriental Bank of Commerce">Oriental Bank of Commerce</option>
    <option value="Punjab National Bank - Corporate Banking">Punjab National Bank - Corporate Banking</option>
    <option value="Punjab National Bank - Retail Banking">Punjab National Bank - Retail Banking</option>
    <option value="Punjab & Sind Bank">Punjab & Sind Bank</option>
    <option value="Shamrao Vitthal Cooperative Bank">Shamrao Vitthal Cooperative Bank</option>
    <option value="South Indian Bank">South Indian Bank</option>	
    <option value="State Bank of Bikaner & Jaipur">State Bank of Bikaner & Jaipur</option>
    <option value="State Bank of Hyderabad">State Bank of Hyderabad</option>
    <option value="State Bank of India">State Bank of India</option>
    <option value="State Bank of Mysore">State Bank of Mysore</option>
    <option value="State Bank of Patiala">State Bank of Patiala</option>
    <option value="State Bank of Travancore">State Bank of Travancore</option>
    <option value="Syndicate Bank">Syndicate Bank</option>
    <option value="Tamilnad Mercantile Bank Ltd.">Tamilnad Mercantile Bank Ltd.</option>
    <option value="UCO Bank">UCO Bank</option>
    <option value="Union Bank of India">Union Bank of India</option>
    <option value="United Bank of India">United Bank of India</option>
    <option value="Vijaya Bank">Vijaya Bank</option>
    <option value="Yes Bank Ltd">Yes Bank Ltd</option>
  
  
    </select>
     
      
    <div class="form-group">
       <label for="savingsAccount"><b>Account Number</b></label>
         <input type="tel" id="savingsAccount" name="savingsAccount" placeholder="XXXXXXXXXXXX" formControlName="savingsAccount">
         <p *ngIf = "registrationForm.controls.savingsAccount.errors && (registrationForm.controls.savingsAccount.touched ||registrationForm.controls.savingsAccount.dirty)">Account Number of 12 digits is required</p>
      </div>
      <div class="form-group">
       <label for="ifsc"><b>IFSC Code</b></label>
        <input type="text" placeholder="IFSC Code" name="ifsc" formControlName="ifsc">
        <p *ngIf = "registrationForm.controls.ifsc.errors && (registrationForm.controls.ifsc.touched ||registrationForm.controls.ifsc.dirty)">IFSC is required</p>
     </div>
     
        <div>
       <label for="cardType"><b>Card Type</b></label >
       <select type='cardType' name="cardType" id="cardType" (change)="changeTypeCard($event)">
         <option value="platinum">Platinum</option>
         <option value="gold">Gold</option>
         </select>
        </div>
       
       <div class="form-group">
        <label for="aadhar"><b>Aadhar Number</b></label>
        <input type="text" id="aadhar" name="aadhar" placeholder="XXXX-XXXX-XXXX" formControlName="aadhar"><br><br>
        <p *ngIf = "registrationForm.controls.aadhar.errors && (registrationForm.controls.aadhar.touched ||registrationForm.controls.aadhar.dirty)">AADHAR NUMBER is required</p>
      </div>
        <label for="a_img"><b>Aadhar Upload</b></label>
          <input type="file" id="a_pdf" name="a_pdf" accept=".pdf" required>
      
      <div class="form-group">
      <label for="pan"><b>PAN Number</b></label>
        <input type="text" placeholder="PAN Number" name="pan" formControlName="pan">
        <p *ngIf = "registrationForm.controls.pan.errors && (registrationForm.controls.pan.touched ||registrationForm.controls.pan.dirty)">PAN NUMBER is required</p>
      </div>
       <label for="p_pdf"><b>PAN Upload</b></label>
         <input type="file" id="p_pdf" name="p_pdf" accept=".pdf" required>
     
        <!-- <label>
          <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
        </label> -->
  
        <p>By creating an account you agree to our <a href="https://drive.google.com/file/d/1e759_RbYoA720rxwO63Uq1gpjHarf6cF/view" style="color:dodgerblue">Terms & Privacy</a>.</p>
  
        <div class="clearfix">
          <button type="button" class="cancelbtn">Cancel</button>
          <button type="submit" class="signupbtn" [disabled]="registrationForm.invalid">Register</button>
        </div>
      </div>
    </form>
 
