<app-navbar></app-navbar>

    <main class="container">

      <!-- Left Column / Headphones Image -->
      
	  <div class="left-column">
        <img data-image="red" class="active" src="assets\images\p2.jpg" alt="">
      </div>


      <!-- Right Column -->
      <div class="right-column">

        <!-- Product Description -->
        <div class="product-description">
          <h1 style="color:orange;">{{this.product.productName}} </h1>
          <p style= "color:gray;"><i> 
      <h3>Features:  </h3>
	  <h4>
	  <ul style= "color:gray;">
	  <li>Automatically on, automatically connected</li>
	  <li>Easy setup for all your Apple devices</li>
      <li>Quick access to Siri by saying “Hey Siri”</li>
      <li>New Apple H1 headphone chip delivers faster wireless connection to your devices</li>
      <li>Charges quickly in the case</li>
      <li>Case can be charged either wirelessly using a Qi-compatible charging mat or using the Lightning connector</li>
      </ul>
      </h4>
	  </i>
	  </p>
       </div>

        <label for="EMI" style="color:blue;">Choose a EMI option:</label>
		<select name="months" id="months" (change)="changeMonths($event)" style="width:20%;">
		<option value="3">3</option>
		<option value="6">6</option>
		<option value="9">9</option>
		</select> 
		<br>
		<br>
		<br>
		<br>
		<br>
			
		<div class="product-price">
          <span>₹ {{this.product.productRate}}</span>
          <a  href="http://localhost:4200/dashboard" (click)='onPurchase()' class="cart-btn">Buy Now</a>
        </div>
      </div>
  
	</main>
