<app-navhome></app-navhome>
<div class="col-md-6 col-md-offset-2">
    <h3>Verify Otp</h3>
    <form [formGroup]="verifyOtpForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="otp">Otp:</label>
            <input type="text" class="form-control" formControlName="otp" id="otp">
            <p *ngIf = "verifyOtpForm.controls.otp.errors && (verifyOtpForm.controls.otp.touched ||verifyOtpForm.controls.otp.dirty)">otp is required</p>
        </div>
         <button class="btn btn-success" type="submit" [disabled]="verifyOtpForm.invalid">Verify Otp</button>
    </form>
</div>
