<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="style.css" rel="stylesheet">
    <meta name="robots" content="noindex,follow" />

  </head>

  <body>
    <main class="container">

      <!-- Left Column / Headphones Image -->
      
	  <div class="left-column">
        <img data-image="red" class="active" src="src\assets\images\p5.jpg" alt="">
      </div>


      <!-- Right Column -->
      <div class="right-column">

        <!-- Product Description -->
        <div class="product-description">
          <h1 style="color:orange;">{{this.product.productName}} </h1>
          <p style= "color:gray;"><i> 
      <h3>Features:  </h3>
	  <h4>
	  <ul style= "color:gray;">
	  <li>HP EliteBook 1030 G2 X 360 Notebook</li>
	  <li>PC 13.3 inch Laptops (Intel CoreTM i7-7500U Processor</li>
	  <li>8GB RAM | 512GB SSD | Win10 PRO | Integrated Graphics )</li>
      <li>3 Years onsite warranty by HP</li>
	  </ul>
	  </h4>
	  </i>
	  </p>
        </div>

        <label for="EMI" style="color:blue;">Choose a EMI option:</label>
		<select name="months" id="months" (change)="changeMonths($event)" style="width:20%;">
		<option value="3">3</option>
		<option value="6">6</option>
		<option value="9">9</option>
		</select> 
		<br>
		<br>
		<br>
		<br>
		<br>
			
		<div class="product-price">
          <span>₹ {{this.product.productRate}}</span>
          <a href="#" (click)='onPurchase()' class="cart-btn">Buy Now</a>
        </div>
      </div>
  
	</main>
  </body>
</html>

