<app-navbar></app-navbar>
<!DOCTYPE html>
<html>
<body>

<h2 style="text-align:center">EMI Paid</h2>
<table>
  <tr>
    <th>EMI ID</th>
    <th>Payment Month</th>
    <th>Purchase ID</th>
    <th>Product Name</th>
	<th>EMI</th>
  </tr>
 <tr *ngFor="let emi of paidEmis">
	<td>{{emi.emiId}}</td>
	<td>{{emi.monthOfPayment}}</td>
    <td>{{emi.purchaseId}}</td>
    <td>{{emi.productName}}</td>
	<td>{{emi.emiAmount}}</td>
  </tr>

</table>
<h2 style="text-align:center">Future Payments</h2>
<table>
    <tr>
        <th>EMI ID</th>
        <th>Payment Month</th>
        <th>Purchase ID</th>
        <th>Product Name</th>
        <th>EMI</th>
      </tr>
  <tr *ngFor="let emi of pendingEmis">
	<td>{{emi.emiId}}</td>
	<td>{{emi.monthOfPayment}}</td>
    <td>{{emi.purchaseId}}</td>
    <td>{{emi.productName}}</td>
	<td>{{emi.emiAmount}}</td>
  </tr>
 </table>
</body>
</html>



