
<nav>

<a routerLink="/login" routerLinkActive> Login</a>
<a routerLink="/registeration" routerLinkActive> Register</a>
<a routerLink="/homepage" routerLinkActive> Homepage</a>
<a routerLink="/product-page" routerLinkActive> Products</a>
<a routerLink="/dashboard" routerLinkActive> Dashboard</a>
<a routerLink="/meet-the-team" routerLinkActive> Meet-The-Team</a>
<a routerLink="/purchase-table" routerLinkActive>Purchase Table</a>
<a routerLink="/emi-payer" routerLinkActive> emi-payer</a>
<a routerLink="/emi-table" routerLinkActive> emi-table</a>
<a routerLink="/footer" routerLinkActive> footer</a>
<a routerLink="/nav-bar" routerLinkActive> nav-bar</a>
<a routerLink="/product1" routerLinkActive> product1</a>
<a routerLink="/product2" routerLinkActive> product2</a>
<a routerLink="/product3" routerLinkActive> product3</a>
<a routerLink="/product4" routerLinkActive> product4</a>
<a routerLink="/product5" routerLinkActive> product5</a>
<a routerLink="/product6" routerLinkActive> product6</a>
<a routerLink="/user-not-activated" routerLinkActive> user-not-activated</a>
<a routerLink="/admin-home" routerLinkActive>admin-home</a>
<a routerLink="/admin-modify-user" routerLinkActive>admin-modify-user</a>

</nav>

<router-outlet></router-outlet>

