<app-navhome></app-navhome>
<div id="container">
  
    <div id="header"><br>
      <h3 style="text-align: center;">Change Password</h3><br>
    </div> 
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div id="form" >
        
      <div class="form-group">
      <input type="password" placeholder="New Password" id="passOne" formControlName="passOne">
      <p *ngIf = "changePasswordForm.controls.passOne.errors && (changePasswordForm.controls.passOne.touched ||changePasswordForm.controls.passOne.dirty)">Password is required</p>
  
      </div>
      <div class="form-group">
      <input type="password" placeholder="Confirm Password" id="passTwo" formControlName="passTwo">
      <p *ngIf = "changePasswordForm.controls.passTwo.errors && (changePasswordForm.controls.passTwo.touched ||changePasswordForm.controls.passTwo.dirty)">Confirm Password is required</p>
    </div>
    </div>
    <div id="footer" class="incorrect"><br>
      <h3 id="footerText" style="text-align: center;"><button type="submit" value="changepassword" float:center>Change password</button></h3>
    </div>
  
</form>
