<app-navbar></app-navbar>


<div class="row">
  <div class="column13">
    <h3>Total Credits : {{this.customer.card.cardType.creditLimit}}</h3>
	<h3>Credit Used : {{this.customer.card.usedLimit}}</h3>
	<h3> Credit Remaining : {{this.customer.card.remainingLimit}}</h3>
	<br>
    <h4> Due payment for this month : {{this.emiPayable}} </h4>
    
	 <div> <button style="background-color:#2980b9;"><h3> <a (click)="onPay()" [attr.disabled]='this.paid'>PayNow </a></h3></button>
     <button style="background-color:#2980b9;"><h3> <a href="">Generate Invoice</a></h3></button> </div> 
       
   </div>

  <div class="column">
    <div class="card">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
          <p style="width:100%"><b> <u>{{this.customer.card.cardType.cardType|uppercase}}</u> </b></p>
         <h2><i>{{this.customer.card.cardNumber}}</i></h2>
         <p class="validity">Validity:<b>{{this.customer.card.validTill.substr(5,2)}}/{{this.customer.card.validTill.substr(2,2)}}</b></p>
         <h3><i><b>{{this.customer.name|titlecase}}</b></i></h3>
         <p><button>Activated</button></p>
      </div>
      <div class="flip-card-back">
        <h1>CVV</h1> 
		<h4> for help/query please contact us </h4>
      </div>
    </div>
  </div>
</div>
</div>
  <div class="column13">
  <br>
  <br>
   <div class="card" > <button><h3> <a routerLink="/productlist">Buy Products </a></h3></button> </div> 
   <br>
   <br>
   <div class="card"> <button> <h3> <a routerLink="/emitable">Transaction History</a> </h3> </button> </div> 
  </div>

<div>
  <table *ngIf="this.customer.purchases.length!=0" class="table table-striped table-responsive table-hover" style="padding: 100px;">
    <tr >
        <th>Purchase Id</th>
        <th>Months</th>
        <th>Date of Purchase</th>
        <th>Product</th>
    </tr>
    <tr *ngFor="let purchase1 of this.customer.purchases">
      <td>{{purchase1.purchaseId}}</td>
      <td>{{purchase1.months}}</td>
      <td>{{purchase1.dateOfPurchase}}</td>
      <td>{{purchase1.product.productName}}</td>
    </tr>
  </table>
</div>
</div>

