<!DOCTYPE html>
<html>
<body>

<div class="row">
  <div class="column13">
    <h3>Total Credits : </h3>
	<h3>Credit Used : </h3>
	<h3> Credit Remaining :</h3>
	<br>
    <h4> Due payment for this month : </h4>
    
	 <div> <button style="background-color:#2980b9;"><h3> <a href="">PayNow </a></h3></button>
     <button style="background-color:#2980b9;"><h3> <a href="">Generate Invoice</a></h3></button> </div> 
       
   </div>

  <div class="column">
    <div class="card">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
          <p style="width:100%"><b> <u>GOLD</u> </b></p>
         <h2><i>1234-5678-9012-3456</i></h2>
         <p class="validity">Validity:<b> mm/yy </b></p>
         <h3><i><b>Cardholder Name</b></i></h3>
         <p><button>Activated</button></p>
      </div>
      <div class="flip-card-back">
        <h1>CVV</h1> 
		<h4> for help/query please contact us </h4>
      </div>
    </div>
  </div>
</div>
</div>
  <div class="column13">
  <br>
  <br>
   <div class="card" > <button><h3> <a href="">Buy Products </a></h3></button> </div> 
   <br>
   <br>
   <div class="card"> <button> <h3> <a href="">Transaction History</a> </h3> </button> </div> 
  </div>
</div>
</body>
</html>
