<app-navhome></app-navhome>
<div class="col-md-6 col-md-offset-2">
    <h3>Forgot Password</h3>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" formControlName="email" id="email">
            <p *ngIf = "forgotPasswordForm.controls.email.errors && (forgotPasswordForm.controls.email.touched ||forgotPasswordForm.controls.email.dirty)">email is required</p>
        </div>
         <button class="btn btn-success" type="submit" [disabled]="forgotPasswordForm.invalid">Send Email</button>
    </form>
</div>
